h2 {
  border: 1px solid black;
  border-radius: 1px;
  margin: 2px;
}
.login-page-container {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  width: 50%;
  border: 1px solid lightgray;
}

.login-form {
  margin: 10px 10px 50px 10px;
  padding: 20px;
  text-align: center;
}

.login-logo {
  display: grid;
  place-items: center;
  margin: 20px;
}

.login-social {
  margin: 10px 10px 50px 10px;
}

/* @media screen and (max-width: 425px) {
  .login-form {
    width: 80%;
  }
} */

/* @media screen and (max-width: 768px) {
  .login-form {
    width: 100%;
  }
} */

.to-register {
  display: flex;
  flex-direction: row;
  /* text-align: right; */
}

@media screen and (max-width: 800px) {
  .login-form-container {
    width: 100vw;
    height: 100%;
  }

  .to-register {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
